@import url('https://fonts.googleapis.com/css2?family=Forum&family=Roboto+Slab:wght@200;400&family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Tenor+Sans&display=swap');

$fontForum: 'Forum', serif;
$fontRoboto: 'Roboto', sans-serif;
$fontRobotoSlab: 'Roboto Slab', serif;
$fontTenorSans: 'Tenor Sans', sans-serif;

$white: #fff;
$bgDark: #141414;
$bgLight: #212121;
$bottomColor: rgba(255, 255, 255, 0.1);
$linearGradientBlack: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.88) 28%, rgba(255, 255, 255, 0) 100%);
$lightGrey: #747474;
$goldenStar: #f1b620;
$yellow: #ffe082;
