@import url('https://fonts.googleapis.com/css2?family=Forum&family=Roboto+Slab:wght@200;400&family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Tenor+Sans&display=swap');

$fontForum: 'Forum', serif;
$fontRoboto: 'Roboto', sans-serif;
$fontRobotoSlab: 'Roboto Slab', serif;
$fontTenorSans: 'Tenor Sans', sans-serif;

$colorWhite: #fff;
$bgColor: #141414;
$bgColorLight: #212121;
