@import './styles/init-css';
@import './styles/fonts-colors';
@import 'primeflex/primeflex.scss';

body {
  font-family: $fontRoboto;
  font-size: 14px;
  color: $colorWhite;
  background-color: $bgColor;
}

a {
  text-decoration: none;
  color: $colorWhite;
}
