@import './styles/init-css';
@import './styles/fonts-colors';

@import 'primeflex/primeflex.scss';
@import 'primeicons/primeicons.css';
@import 'primeng/resources/themes/vela-green/theme.css';
@import 'primeng/resources/primeng.min.css';

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Roboto+Slab:wght@200;400&family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Tenor+Sans&display=swap');

body {
  font-family: $fontRoboto;
  font-size: 14px;
  color: $white;
  background-color: $bgDark;
}

a {
  text-decoration: none;
  color: $white;
}

.app-icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.container {
  margin: 0.5rem;
  padding: 0.5rem;
}
