<ng-container *ngIf="tvShow">
  <slider *ngIf="tvShowBanner" [items]="[tvShowBanner]" [isDetailPage]="true"></slider>
  <p-tabView>
    <p-tabPanel header="Overview">
      <div class="grid">
        <div class="col-12 md:col-3 lg:col-3">
          <img class="poster" [src]="imageSize.medium + tvShow.poster_path" [alt]="tvShow.name" />
        </div>
        <div class="col-12 md:col-9 lg:col-9 overview-container">
          <h2>Overview</h2>
          <p class="overview" *ngIf="tvShow.overview">{{ tvShow.overview }}</p>
          <div class="stat">
            <div class="label">Original Title:</div>
            <div class="value">{{ tvShow.original_name }}</div>
          </div>
          <div class="stat">
            <div class="label">Release Date:</div>
            <div class="value">{{ tvShow.first_air_date | date : 'mediumDate' }}</div>
          </div>
          <div class="stat">
            <div class="label">Language:</div>
            <div class="value">{{ tvShow.original_language | uppercase }}</div>
          </div>
          <div class="stat">
            <div class="label">Episodes:</div>
            <div class="value">{{ tvShow.number_of_episodes }}</div>
          </div>
          <div class="stat">
            <div class="label">Seasons:</div>
            <div class="value">{{ tvShow.number_of_seasons }}</div>
          </div>
          <div class="stat">
            <div class="label">Genres:</div>
            <div class="value">
              <span *ngFor="let genre of tvShow.genres; last as isLast">
                <span *ngIf="!isLast">{{ genre.name + ', ' }}</span>
                <span *ngIf="isLast">{{ genre.name }}</span>
              </span>
            </div>
          </div>
          <div class="stat" *ngIf="tvShow.tagline">
            <div class="label">Tagline:</div>
            <div class="value">{{ tvShow.tagline }}</div>
          </div>
        </div>
      </div>
      <div class="credits">
        <h2>Cast</h2>
        <p-carousel
          *ngIf="tvShowCredits"
          [value]="tvShowCredits.cast"
          [numVisible]="5"
          [numScroll]="5"
          [circular]="false"
        >
          <ng-template let-actor pTemplate="item">
            <div class="actor">
              <img *ngIf="actor.profile_path" [src]="imageSize.medium + actor.profile_path" alt="Actor Image" />
              <span class="actor-info">{{ actor.name }}</span>
              <span class="actor-info">{{ actor.character }}</span>
            </div>
          </ng-template>
        </p-carousel>
      </div>
      <items-banner
        *ngIf="similarTvShows.length"
        [items]="similarTvShows"
        bannerType="You may also like"
      ></items-banner>
    </p-tabPanel>
    <p-tabPanel header="Videos">
      <div class="grid">
        <ng-container *ngFor="let tvShowVideo of tvShowVideos">
          <div class="col-12 md:col-4 lg:col-4">
            <video-embed [key]="tvShowVideo.key" [site]="tvShowVideo.site"></video-embed>
          </div>
        </ng-container>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Photos">
      <div class="grid">
        <ng-container *ngFor="let tvShowImage of tvShowImages?.backdrops">
          <div class="col-12 md:col-4 lg:col-4">
            <p-image
              [src]="imageSize.large + tvShowImage.file_path"
              alt="Tv Show Image"
              width="100%"
              [preview]="true"
            ></p-image>
          </div>
        </ng-container>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Reviews">
      <div class="container">
        <ng-container *ngFor="let tvShowReview of tvShowReviews; last as isLast">
          <div class="review">
            <div class="review-author">
              <div class="author-info" *ngIf="tvShowReview.author">
                <span class="author-name">{{ tvShowReview.author }}</span>
                <span class="author-username" *ngIf="tvShowReview.author_details.username">
                  {{ '@' + tvShowReview.author_details.username }}
                </span>
              </div>
              <div class="review-rating" *ngIf="tvShowReview.author_details.rating">
                <i class="app-icon">star</i>
                <span>{{ tvShowReview.author_details.rating | number : '1.0-1' }}/10 </span>
              </div>
            </div>
            <div class="review-content">
              <p *ngIf="!isLast" class="not-last-review">{{ tvShowReview.content }}</p>
              <p *ngIf="isLast">{{ tvShowReview.content }}</p>
            </div>
          </div>
        </ng-container>
      </div>
    </p-tabPanel>
  </p-tabView>
</ng-container>
