@import '../../../styles/fonts-colors';

* {
  font-family: $fontRoboto;
}

:host ::ng-deep {
  .p-tabview .p-tabview-panels {
    background: $bgDark;
  }

  .p-tabview-nav {
    justify-content: center;
    font-family: $fontRoboto;

    li {
      .p-tabview-nav-link {
        background: $bgDark;
      }

      &.p-hightlight .p-tabview-nav-link {
        background: $bgDark;
      }
    }
  }

  .p-tabview,
  .p-tabview-panels {
    margin: 0 5%;
  }
}

.poster {
  max-width: 100%;
}

.overview-container {
  color: $white;
  padding: 1.5rem;

  .tagline {
    font-family: $fontForum;
    color: $avocadoLight;
  }
}

.overview {
  line-height: 1.5;
}

.stat {
  display: flex;
  margin: 0 auto 10px;

  .label {
    width: 150px;
    font-weight: bold;
  }
}

.not-available-notification {
  display: flex;
  justify-content: center;
}

.cast {
  margin: 2rem auto;
}

.actor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px;

  img {
    width: 100%;
    max-width: 270px;
    max-height: 405px;
  }

  .avatar {
    background-color: $white;
    filter: invert(100%);
    padding: 25% 0;
  }

  .actor-info {
    font-size: 85%;
    margin: 5px 0;
    text-align: center;
  }
}

.review-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.review {
  width: 85%;

  &-rating {
    display: flex;
    align-items: center;
  }

  .app-icon {
    font-family: 'Material Icons';
    color: $goldenStar;
    margin: 0 5px 0 0;
  }

  .author-name {
    font-size: 110%;
    font-weight: bold;
  }

  .author-username {
    font-size: 85%;
  }

  &-content {
    line-height: 1.5;
  }

  .not-last-review {
    padding: 1rem 0;
    margin: 0 0 1rem;
    border-bottom: 1px solid $lightGrey;
  }
}
